@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@600&family=Noto+Sans+Arabic:wght@400;500;600&display=swap');
body {
  background-color: #000000 !important;
  color: white !important;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}



.foot {

margin: auto;
margin-top: 5%;
}


input[type='email']{
  text-align:right;
  }

  .footer {
    flex-grow: 1;
    position: sticky;
    
    /* top: 140px; */
    }

  
html {
  height: 100%;
}

.carousel{
  opacity: 0.8;
  background-size: cover !important;
}

.MyNav {

  background-color: transparent !important;
}

/* body {
  background:#ddd;
  margin-top:10px;
  } */

  .MyNav{
    text-decoration: none !important;
    
  }
  a{
    /* text-decoration: underline; */
    text-decoration-line: none !important;
    color: white !important;
    padding: 3px;
    background-color:#007575;
    /* background-color: rgb(94, 64, 8); */
    margin: 3px;
    transition: 0.5;
    border-radius: 7px;

  }
  a:hover{
    background-color: rgb(26, 23, 23);
    color:rgb(13, 19, 19);
    transition: 0.5;
  }
  .carousel-img{
    background-size: cover !important;
  }
  .carouselText{
    position: absolute;
    color: #1b3131;
    top: 40px;
    right: 50px;
    display: flex;
    flex-direction: row;
    width: 30%;
    border: 3px solid darkslategrey !important;
    padding:9px;
    border-radius: 9px 60px;
    text-shadow: #76838f !important;
    opacity: 0.6 !important;

  }
  .log3{
    position: absolute;
    left: 0px;
    top: 12px;
    border: 2px solid rgb(69, 45, 4) !important;

  }
  .log2{
    position: absolute;
    left: 130px;
  }

.scrollarea {
  min-height: 500px;
}
.card_order{
    margin: 8px;
    color:rgb(13, 19, 19)
}


.Navbar{
  color: #007575;
  background-color: #00A3A3 !important;
}

