@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@600&family=Noto+Sans+Arabic&display=swap');

body {
  background-color: #000000 !important;
  color: white !important;
  font-family: 'Noto Kufi Arabic', sans-serif !important;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}



.foot {

margin: auto;
margin-top: 5%;
}


input[type='email']{
  text-align:right;
  }

  .footer {
    flex-grow: 1;
    }

  
html {
  height: 100%;
}

